
.block-row{
    width:100%;
}
.block{
    background-color: rgba(159,151,151,0.46);
    height: 7%;
    width: 2.4%;
    font-weight: bold;
    display: inline;
    float: left;
}

.red-block{
    color: red;
}

.black-block{
    color: black;
}

.green-block{
    color: green;
}